h1{
   font-size: 30px;
   font-family:Arial;
   background-color: rgb(169, 183, 232);
   text-align: center;
}
p {
   color: rgb(0, 0, 0);
   font-size: 20px;
   text-align: left;
   font-family:Arial;
}

h3 {
  display: inline-block;
   border: 2px solid blueviolet;
   color:slateblue;
   border-radius: 5px;
   text-align: left;
   font-family:Arial;

}

h2{
   
 font-size: 26px;
 font-family:Arial;
 background-color: rgb(200, 169, 232);
 text-align: center;
}

body {
 background-image: url("images/tiles.jpg");
 font-family:Arial;
 text-align: left;
}

